path.link {
  fill: none;
  stroke: rgb(175,175,175);
  stroke-width: 2px;
}
/* path.link references all paths in the D3 graph , characteristics are applied to it
the stroke gives it a specific color
the stroke-width gives how thick the edge is going to be
for this particular graph all edges are the same thickness
*/

marker
{
  fill: rgb(175,175,175);
}
/* colors all markers(arrows) grey
*/


circle {
  fill: rgb(180,62,42);
  stroke: rgb(255,235,200);
  stroke-width: 2px;
}
/*
applies a fill(color) for the nodes, a stroke(the color of the outside of the node), stroke-width(the width of the line around the circle)
*/

text {
  font: 18px helvetica;
  pointer-events: none;
  stroke:rgb(120,60,90);
}

/*
formats the text appearing around the nodes. The font gives the font size and style
stroke gives the color of the text
unsure what pointer-events does
*/

text.shadow {
  stroke: rgb(255,255,255);
  stroke-width: 5px;
  stroke-opacity: 1;
}

/*
creates a white outline around the text so that it is unobstructed by the graph lines and nodes
*/